@use '../../../../../app/_design-tokens.scss' as *;

.sparkleParticles {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.sparkleItem {
  position: absolute;
  top: 50%;
  left: 50%;

  svg {
    width: 16px;
    height: 16px;

    @media (min-width: 640px) {
      width: 20px;
      height: 20px;
    }
  }

  &.sunshine {
    color: $color-sunshine;
  }

  &.coralLight {
    color: $color-coral-light;
  }

  &.mint {
    color: $color-mint;
  }
}
