@use '../../../../app/_design-tokens.scss' as *;

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;

  @media (min-width: 640px) {
    gap: 16px;
    margin-bottom: 40px;
  }
}
